  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.themomedit.com/wp-content/uploads/2021/10/GamesoftheYear2021-1068x524.jpg)">
    Videogames Wishlist
  </div>

  <div class="container mt-5">
    <%= link_to "View your wishlist", videogames_path, class: "btn btn-primary d-grid gap-2 col-6 mx-auto" %>
  </div>
